@charset "UTF-8";
/*  Fonte Montserrant  */
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*===========================================================================*/
/*DEFINIR NO PROCESSO DE DESENVOLVIMENTO*/
/* Cor de fundo escura com transparência */
@font-face {
  font-family: "cosi azure";
  src: url(../fonts/CosiAzure-Black.ttf);
}
/* Responsivo para dispositivos large: */
/* Responsivo para dispositivos Laptops: */
/* Responsivo para dispositivos Tablets: */
/* Responsivo para dispositivos Móveis: */
/*==========================================*/
/*==========================================*/
@keyframes girar {
  from {
    transform: rotate(0deg); /* rotação inicial */
  }
  to {
    transform: rotate(360deg); /* rotação final */
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-height: 440px) {
  html {
    background-color: #161616;
  }
  html::before {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "screen não suportado, abra a tela e saiba mais :)";
    color: rgba(255, 255, 255, 0.8156862745);
    width: 100%;
    height: 100vh;
    font-size: 40px;
    font-family: "Alumni Sans Inline One", sans-serif;
    text-align: center;
  }
}
@media screen and (max-width: 300px) {
  html {
    background-color: #161616;
  }
  html::before {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "screen não suportado, abra a tela e saiba mais :)";
    color: rgba(255, 255, 255, 0.8156862745);
    width: 100%;
    height: 100vh;
    font-size: 40px;
    font-family: "Alumni Sans Inline One", sans-serif;
    text-align: center;
  }
}
html body {
  background-color: #161616;
  cursor: none;
}
html body #cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid #ffffff;
  pointer-events: none;
  transition: transform all 0.1s ease;
  transform: translate(-2em);
  z-index: 9999;
}
@media screen and (max-width: 300px) {
  html body {
    display: none;
  }
  html body::before {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "screen não suportado, abra a tela e saiba mais :)";
    color: rgba(255, 255, 255, 0.8156862745);
    width: 100%;
    height: 100vh;
    font-size: 40px;
    font-family: "Alumni Sans Inline One", sans-serif;
    text-align: center;
  }
}
@media screen and (max-height: 440px) {
  html body {
    display: none;
  }
  html body::before {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "screen não suportado, abra a tela e saiba mais :)";
    color: rgba(255, 255, 255, 0.8156862745);
    width: 100%;
    height: 100vh;
    font-size: 40px;
    font-family: "Alumni Sans Inline One", sans-serif;
    text-align: center;
  }
}
html body header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: auto;
  transition: 0.5s all ease;
  z-index: 9999;
}
html body header .navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100px;
  font-family: "cosi azure";
  transition: 0.5s all ease;
  border-bottom: 1px solid #ffffff;
}
@media screen and (max-width: 992px) {
  html body header .navbar {
    padding-right: 30px;
  }
}
html body header .navbar li {
  list-style: none;
}
html body header .navbar li .game-icons--fox {
  display: inline-block;
  width: 3em;
  height: 3em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='m214.5 23.24l-1 8.1c-14 61.5 21 88.66 21 88.66l11-13s-24-19.76-18-63.56c41 11.6 58 36.6 64 48.8c-44 15.76-56 57.26-80 87.96l21-3.9l-2 31.3s44-8.7 69 17.7c5-8.6 8-18.9 6-29.2l-3-28.2c-3-1.1-7-3-11-5.4c-12-7.3-25-19.1-25-19.1c-2-1.9-2-5.2-1-7.8c2-2.5 5-3.7 7-2.7c0 0 11 3.5 21 6.7c11 3.9 20 14.3 21 26.6c1 8.4 3 18.9 4 28.3c2 15.4-3 30.8-12 42.7l7 18.3h38l7-18.3c-9-11.9-14-27.3-12-42.7c1-9.4 3-19.9 4-28.3c1-12.3 10-22.7 21-26.6c10-3.2 21-6.7 21-6.7c2-1 5 .2 7 2.7c1 2.6 1 5.9-1 7.8c0 0-13 11.8-25 19.1c-4 2.4-8 4.3-11 5.4l-3 28.2c-2 10.3 1 20.6 6 29.2c25-26.4 69-17.7 69-17.7l-2-31.3l21 3.9c-24-30.7-36-72.2-80-87.96c6-12.2 23-37.2 64-48.8c6 43.8-18 63.56-18 63.56l11 13s35-27.16 21-88.66l-1-8.1c-43.3 7.32-85.9 35.37-110 62.9c-5.5-.13-10.5-.52-16 0c-42.8-34.75-61.3-56.12-110-62.9m24.7 205.26c38.2 53.2-87.7 46.6-153.61 119.5c-26.11 28-32.53 56.3-25.95 80.3c12.23 44 71.86 73 144.06 55c49.8-13 96-32 134.8-40c35.1-8 63.8-5 82.3 24l15.3-5c-2.9-38-14.4-68.8-36.5-87.5c-16.8-14.2-39.9-22-70.9-21.1c-29.3.8-65.9 9.3-111.2 27.3c-27 9.5-76.5 27.7-102.4 12.6c-9.1-5.6-11.9-15-11.2-24.3c34.4 52 124.1-27 198.5-35.7c0 0 6.6-88.3-63.2-105.1m188.6 0c-53.1 12.4-64.1 54.1-65.2 105.1c26.5-.2 49.9 23.7 49.9 23.7s-27-98.6 15.3-128.8m-100.3 1.3h10c3 0 6 2.8 6 6.3c0 3.4-3 6.2-6 6.2h-10c-3 0-6-2.8-6-6.2c0-3.5 3-6.3 6-6.3m61.4 157.7c13.7 11.6 22.2 28.8 26.8 49.8c-15.8-12-35-16-57.1-14c-24.1 2-51.9 10-82.3 20l26.1-25c-28.3 14-53.1 17-75.4 12l80.9-40.2l-61.2 11.2c23.8-20.2 95.2-52.2 142.2-13.8'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
html body header .navbar li .fa-bars, html body header .navbar li .fa-circle-xmark {
  display: none;
  font-size: 30px;
  color: #ffffff;
  cursor: crosshair;
}
@media screen and (max-width: 992px) {
  html body header .navbar li .fa-bars, html body header .navbar li .fa-circle-xmark {
    display: block;
  }
}
html body header .navbar .active-bar {
  position: relative;
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 240px;
  height: 60px;
  margin: 0 0 0 10px;
  cursor: crosshair;
}
html body header .navbar .active-bar a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  transition: 0.5s all ease;
}
@media screen and (max-width: 600px) {
  html body header .navbar .active-bar a {
    font-size: 17px;
  }
}
html body header .navbar .links-ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body header .navbar .links-ul .li-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  margin: 10px;
}
html body header .navbar .links-ul .li-link a {
  cursor: crosshair;
}
html body header .navbar .links-ul .li-link::after {
  position: absolute;
  content: "";
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #caa986;
  width: 0%;
  height: 3px;
  border-radius: 5px;
  transition: 0.3s all;
}
html body header .navbar .links-ul .li-link:hover::after {
  width: 100%;
  transition: 0.3s all;
}
html body header .navbar .links-ul .li-link .link {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
}
html body header .navbar .links-ul .li-link .link i {
  margin-right: 7px;
}
@media screen and (max-width: 992px) {
  html body header .navbar .links-ul {
    position: fixed;
    top: 0;
    right: 0;
    padding: 50px;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    transform: translate(100%);
    transition: 0.5s all ease;
    background-color: rgba(0, 0, 0, 0.961);
    z-index: 9999;
    cursor: crosshair;
  }
}
html body main {
  position: relative;
}
html body main .banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2666666667), #161616), url(../img/herobg-hd.jpg);
  /* background-attachment: fixed;*/
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 120vh;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  html body main .banner {
    height: 105vh;
  }
}
html body main .banner .row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 95%;
  height: 80vh;
  color: #ffffff;
  transition: 0.5s all ease;
}
@media screen and (max-width: 992px) {
  html body main .banner .row {
    display: block;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  html body main .banner .row {
    width: 90%;
  }
}
html body main .banner .row .profession {
  position: relative;
  width: 50%;
  height: auto;
  font-family: "cosi azure";
}
@media screen and (max-width: 992px) {
  html body main .banner .row .profession {
    width: initial;
  }
}
html body main .banner .row .profession .follow {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  top: 90px;
  width: 185%;
  height: 100px;
}
@media screen and (max-width: 992px) {
  html body main .banner .row .profession .follow {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  html body main .banner .row .profession .follow {
    width: inherit;
  }
}
html body main .banner .row .profession .follow .fa-map-pin {
  font-size: 20px;
  color: #ffffff;
  margin: 5px;
}
html body main .banner .row .profession .follow p {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
  width: 180px;
  height: 100px;
  color: #ffffff;
  font-size: 10px;
}
@media screen and (max-width: 600px) {
  html body main .banner .row .profession .follow p {
    width: 120px;
    font-size: 10px;
  }
}
html body main .banner .row .profession .profission-text {
  position: relative;
  width: 150px;
  top: 40px;
  font-size: 26px;
  border-bottom: 1px solid #ffffff;
}
@media screen and (max-width: 992px) {
  html body main .banner .row .profession .profission-text {
    top: 50px;
  }
}
@media screen and (max-width: 600px) {
  html body main .banner .row .profession .profission-text {
    width: 110px;
    font-size: 18px;
  }
}
html body main .banner .row .profession .profession-name {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 100px;
}
html body main .banner .row .profession .profession-name span {
  display: block;
  font-size: 3.5em;
  transform: scaleY(4);
  margin: 110px 0 60px 0;
  letter-spacing: -2px;
  word-spacing: 17px;
}
@media screen and (max-width: 992px) {
  html body main .banner .row .profession .profession-name span {
    font-size: 3em;
  }
}
@media screen and (max-width: 600px) {
  html body main .banner .row .profession .profession-name span {
    transform: scaleY(4);
    letter-spacing: 2px;
    font-size: 1.7em;
    margin: 0 0 60px 0;
  }
}
html body main .banner .row .banner-descripiton {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 50%;
  height: auto;
}
@media screen and (max-width: 992px) {
  html body main .banner .row .banner-descripiton {
    width: initial;
    margin-top: 70px;
  }
}
html body main .banner .row .banner-descripiton p {
  text-align: end;
  font-size: 25px;
  letter-spacing: 2px;
  font-family: "cosi azure";
  color: #ffffff;
}
@media screen and (max-width: 992px) {
  html body main .banner .row .banner-descripiton p {
    width: 75%;
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  html body main .banner .row .banner-descripiton p {
    width: 100%;
    font-size: 14px;
  }
}
html body main .banner .row .banner-descripiton .know {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 160px;
  height: 50px;
  border: 2px solid #ffffff;
  transition: 0.5s all ease;
  border-radius: 30px;
}
html body main .banner .row .banner-descripiton .know:hover {
  backdrop-filter: blur(5px);
  transition: 0.5s all ease;
}
html body main .banner .row .banner-descripiton .know a {
  font-family: "cosi azure";
  font-size: 19px;
  color: #ffffff;
  text-decoration: none;
  cursor: crosshair;
}
@media screen and (max-width: 992px) {
  html body main .banner .row .banner-descripiton .know a {
    font-size: 13px;
  }
}
html body main .hero-me {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -1px;
  width: 100%;
  height: auto;
  padding: 150px 0 0 0;
  background-color: #161616;
}
@media screen and (max-width: 992px) {
  html body main .hero-me {
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  html body main .hero-me {
    padding-top: 80px;
  }
}
html body main .hero-me .hero-titulo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 100px;
  margin: 30px;
}
@media screen and (max-width: 600px) {
  html body main .hero-me .hero-titulo {
    margin: 0 0 50px 0;
  }
}
html body main .hero-me .hero-titulo h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 10px;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  html body main .hero-me .hero-titulo h1 {
    font-size: 20px;
  }
}
html body main .hero-me .hero-titulo h1 span {
  color: #caa986;
}
html body main .hero-me .hero-sobre-text-fundo {
  position: absolute;
  top: 20%;
  left: 30px;
  right: 0;
  font-size: 120px;
  font-family: "cosi azure";
  color: rgba(255, 255, 255, 0.1607843137);
}
@media screen and (max-width: 992px) {
  html body main .hero-me .hero-sobre-text-fundo {
    top: 10%;
    font-size: 110px;
  }
}
@media screen and (max-width: 600px) {
  html body main .hero-me .hero-sobre-text-fundo {
    top: 5%;
    font-size: 65px;
  }
}
html body main .hero-me .sobre-mim {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: auto;
  color: #ffffff;
  background-color: rgba(102, 51, 153, 0);
}
@media screen and (max-width: 1200px) {
  html body main .hero-me .sobre-mim {
    width: 95%;
  }
}
@media screen and (max-width: 992px) {
  html body main .hero-me .sobre-mim {
    width: 100%;
    flex-wrap: wrap;
  }
}
html body main .hero-me .sobre-mim .sobre-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  background-color: rgba(0, 0, 255, 0);
}
html body main .hero-me .sobre-mim .sobre-img::after {
  position: absolute;
  content: "";
  width: 290px;
  height: 250px;
  z-index: 1;
  transform: translate(-15%, -15%);
  border: 12px solid #caa986;
}
@media screen and (max-width: 1200px) {
  html body main .hero-me .sobre-mim .sobre-img::after {
    transform: translate(-10%, -15%);
  }
}
@media screen and (max-width: 768px) {
  html body main .hero-me .sobre-mim .sobre-img::after {
    width: 250px;
    transform: translate(-10%, -8%);
  }
}
@media screen and (max-width: 600px) {
  html body main .hero-me .sobre-mim .sobre-img::after {
    height: 230px;
    transform: translate(-10%, -12%);
  }
}
@media screen and (max-width: 992px) {
  html body main .hero-me .sobre-mim .sobre-img {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  html body main .hero-me .sobre-mim .sobre-img {
    width: inherit;
  }
}
html body main .hero-me .sobre-mim .sobre-img img {
  position: relative;
  width: 300px;
  height: auto;
  z-index: 2;
  filter: grayscale(0%);
  transition: 0.5s all ease;
}
@media screen and (max-width: 992px) {
  html body main .hero-me .sobre-mim .sobre-img img {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  html body main .hero-me .sobre-mim .sobre-img img {
    width: 270px;
  }
}
@media screen and (max-width: 600px) {
  html body main .hero-me .sobre-mim .sobre-img img {
    width: 250px;
    height: auto;
  }
}
html body main .hero-me .sobre-mim .sobre-img img:hover {
  filter: grayscale(100%);
  transition: 0.5s all ease;
}
html body main .hero-me .sobre-mim .sobre-habilits {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: normal;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1px;
  flex-direction: column;
  width: 25%;
  height: auto;
  background-color: rgba(255, 192, 203, 0);
}
@media screen and (max-width: 992px) {
  html body main .hero-me .sobre-mim .sobre-habilits {
    padding: 0 0 0 100px;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  html body main .hero-me .sobre-mim .sobre-habilits {
    padding: 0 0 0 30px;
  }
}
@media screen and (max-width: 600px) {
  html body main .hero-me .sobre-mim .sobre-habilits {
    width: inherit;
    margin: 50px auto;
  }
}
html body main .hero-me .sobre-mim .sobre-habilits h1 {
  position: relative;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  font-size: 23px;
  font-family: "cosi azure";
  padding: 0 0 9px 0;
}
@media screen and (max-width: 768px) {
  html body main .hero-me .sobre-mim .sobre-habilits h1 {
    font-size: 15px;
  }
}
html body main .hero-me .sobre-mim .sobre-habilits p {
  position: relative;
  width: 100%;
  height: auto;
  font-style: italic;
  padding: 10px 0 10px 0;
}
@media screen and (max-width: 768px) {
  html body main .hero-me .sobre-mim .sobre-habilits p {
    font-size: 12px;
  }
}
html body main .hero-me .sobre-mim .sobre-habilits p i {
  padding-right: 5px;
  font-size: 20px;
  color: #caa986;
}
@media screen and (max-width: 768px) {
  html body main .hero-me .sobre-mim .sobre-habilits p i {
    font-size: 18px;
  }
}
html body main .hero-me .sobre-mim .sobre-descripion {
  position: relative;
  width: 40%;
  height: auto;
  margin: 0 0 50px 0 auto;
  background-color: rgba(255, 166, 0, 0);
}
@media screen and (max-width: 992px) {
  html body main .hero-me .sobre-mim .sobre-descripion {
    width: 80%;
    margin: 70px auto;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  html body main .hero-me .sobre-mim .sobre-descripion {
    width: 85%;
    margin: 0 auto;
  }
}
html body main .hero-me .sobre-mim .sobre-descripion .sobre-titulo {
  width: initial;
  height: auto;
}
html body main .hero-me .sobre-mim .sobre-descripion .sobre-titulo h1 {
  font-family: "cosi azure";
  font-size: 23px;
  text-transform: uppercase;
}
html body main .hero-me .sobre-mim .sobre-descripion .sobre-descripiton-bio {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 1.5;
}
html body main .hero-me .sobre-mim .sobre-descripion .sobre-descripiton-bio p {
  margin: 10px 0 15px 0;
}
@media screen and (max-width: 992px) {
  html body main .hero-me .sobre-mim .sobre-descripion .sobre-descripiton-bio p:nth-child(1) {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  html body main .hero-me .sobre-mim .sobre-descripion .sobre-descripiton-bio p {
    text-align: left;
    font-size: 14px;
    line-height: 1.7;
  }
}
html body main .cards-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 200px 0 150px 0;
}
@media screen and (max-width: 992px) {
  html body main .cards-container {
    margin: 100px 0 150px 0;
  }
}
html body main .cards-container .boll-bg {
  position: absolute;
  top: 0;
  right: 70%;
  width: 900px;
  height: 900px;
  border: 5px dashed rgba(255, 255, 255, 0.4274509804);
  border-radius: 50%;
  animation: girar 50s linear infinite;
  z-index: -1;
}
@media screen and (max-width: 992px) {
  html body main .cards-container .boll-bg {
    right: 50%;
  }
}
html body main .cards-container .card-title {
  position: relative;
  width: 70%;
  text-align: center;
  margin: 50px;
}
html body main .cards-container .card-title h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 10px;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  word-break: break-all;
}
html body main .cards-container .card-title h1 span {
  color: #caa986;
}
@media screen and (max-width: 600px) {
  html body main .cards-container .card-title h1 {
    font-size: 25px;
  }
}
html body main .cards-container .card-title p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
  width: 70%;
  margin: 0 auto;
  padding: 50px 0 10px 0;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  html body main .cards-container .card-title p {
    width: 95%;
  }
}
html body main .cards-container .cards-omega {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: auto;
  flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
  html body main .cards-container .cards-omega {
    width: 95%;
  }
}
html body main .cards-container .cards-omega .card-bg {
  position: relative;
  width: 26%;
  height: 320px;
  border: 1px solid #ffffff;
  background-color: #161616;
  overflow: hidden;
}
html body main .cards-container .cards-omega .card-bg .span-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.1607843137);
  transition: all 1s ease;
}
html body main .cards-container .cards-omega .card-bg .span-card span {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-family: "cosi azure";
  color: #caa986;
}
html body main .cards-container .cards-omega .card-bg:hover .span-card {
  width: 100%;
  transition: all 1s ease;
  filter: blur(10px);
  background-color: #caa986;
}
html body main .cards-container .cards-omega .card-bg .fa-music, html body main .cards-container .cards-omega .card-bg .fa-pizza-slice, html body main .cards-container .cards-omega .card-bg .fa-code {
  position: absolute;
  color: rgba(255, 255, 255, 0.0274509804);
  font-size: 300px;
  top: 20px;
}
@media screen and (max-width: 992px) {
  html body main .cards-container .cards-omega .card-bg {
    width: 40%;
    margin: 0 0 100px 0;
  }
}
@media screen and (max-width: 768px) {
  html body main .cards-container .cards-omega .card-bg {
    width: 45%;
    margin: 0 0 50px 0;
  }
}
@media screen and (max-width: 600px) {
  html body main .cards-container .cards-omega .card-bg {
    width: 85%;
    margin: 0 0 40px 0;
  }
}
html body main .cards-container .cards-omega .card-bg .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 40px;
  width: initial;
  height: inherit;
  transition: 0.5s all ease;
  overflow: hidden;
}
html body main .cards-container .cards-omega .card-bg .card .arcticons--music-you {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Ccircle cx='18.538' cy='35.378' r='8.122' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' d='M26.66 35.378V12.834M28.69 4.5h6.864a2.03 2.03 0 0 1 2.03 2.03v4.273a2.03 2.03 0 0 1-2.03 2.03H26.66h0V6.53a2.03 2.03 0 0 1 2.03-2.03'/%3E%3C/svg%3E");
}
html body main .cards-container .cards-omega .card-bg .card .arcticons--pizza-boy-gbc {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Ccircle cx='22.245' cy='23.357' r='3.617' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='33.469' cy='23.808' r='3.979' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='27.059' cy='34.697' r='2.962' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' d='M23.99 13.27c-.33 1.75-.91 4.02-1.65 6.48'/%3E%3Cellipse cx='42.57' cy='28.808' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' rx='2.537' ry='1.834' transform='rotate(-16.754 42.57 28.807)'/%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' d='M33.7 19.844c-3.32-3.19-6.99-5.48-8.98-6.24a3 3 0 0 0-.34-.12a2.54 2.54 0 0 1-1.31-3.34c.56-1.29 2.01-1.68 3.34-1.32c1.91.51 6.05 3.01 9.96 6.55c3.92 3.53 7.61 8.09 8.63 12.7m-4.86 1.46c-.55-1.89-1.52-3.7-2.71-5.39m-11.51 13.3c-4.09.96-8.4 1.6-12.4 1.86c2.02-1.93 4.54-7.33 6.63-13m9.26 10.2c2.04-.61 3.98-1.3 5.73-2.07c.72-.32.24 2.24 2.2 2.03c.99-.1 1.52-.79 1.66-2.66c.11-1.46 1.79-2.69 2.34-3.2'/%3E%3Ccircle cx='26.362' cy='18.615' r='.75' fill='white'/%3E%3Ccircle cx='25.862' cy='29.308' r='.75' fill='white'/%3E%3Ccircle cx='19.681' cy='36.244' r='.75' fill='white'/%3E%3Ccircle cx='35.638' cy='30.71' r='.75' fill='white'/%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' d='m16.26 35.27l-3.2.9c-1.04.29-2.12-.32-2.41-1.36L5.07 14.92a1.96 1.96 0 0 1 1.35-2.41l11.64-3.27c1.04-.29 2.11.32 2.41 1.36l2.23 7.93'/%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' d='m19.88 20.644l-9.25 2.59a.525.525 0 0 1-.64-.36l-2.17-7.72c-.07-.27.09-.56.36-.63l9.42-2.65c.28-.07.56.09.64.36l2.16 7.72c.03.11.03.22-.02.31m-7.603 6.059l.931 3.319m1.194-2.125l-3.319.931'/%3E%3Ccircle cx='19.175' cy='26.722' r='.75' fill='white'/%3E%3C/svg%3E");
}
html body main .cards-container .cards-omega .card-bg .card .material-symbols-light--developer-mode-tv-outline-rounded {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='m4.415 11l2.247-2.246q.14-.14.15-.344t-.15-.364t-.354-.16q-.195 0-.354.16l-2.389 2.389q-.242.242-.242.565t.242.565l2.389 2.389q.14.14.344.15t.364-.15t.16-.354t-.16-.354zm15.17 0l-2.247 2.246q-.14.14-.15.344t.15.364t.354.16t.354-.16l2.389-2.389q.242-.242.242-.565t-.242-.565l-2.389-2.389q-.14-.14-.344-.15t-.364.15t-.16.354t.16.354zM3 6.77V5.614q0-.69.463-1.152T4.615 4h14.77q.69 0 1.152.463T21 5.615V6.77q0 .214-.143.357t-.357.143t-.357-.143T20 6.769V5.615q0-.269-.173-.442T19.385 5H4.615q-.269 0-.442.173T4 5.615V6.77q0 .214-.143.357T3.5 7.27t-.357-.143T3 6.769M9.808 20q-.348 0-.578-.23T9 19.192V18H4.615q-.69 0-1.152-.462T3 16.385v-1.148q0-.214.143-.354t.357-.14t.357.143t.143.356v1.143q0 .269.173.442t.442.173h14.77q.269 0 .442-.173t.173-.442v-1.148q0-.214.143-.354t.357-.14t.357.143t.143.356v1.143q0 .69-.462 1.152T19.385 18H15v1.192q0 .348-.23.578t-.578.23zM12 11'/%3E%3C/svg%3E");
}
html body main .cards-container .cards-omega .card-bg .card h1 {
  text-align: center;
  margin: 10px 0 10px 0;
  font-size: 15px;
  letter-spacing: 3px;
  font-family: "cosi azure";
  color: #ffffff;
}
html body main .cards-container .cards-omega .card-bg .card h1 i {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  html body main .cards-container .cards-omega .card-bg .card h1 {
    font-size: 18px;
  }
}
html body main .cards-container .cards-omega .card-bg .card p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  transform: translateY(170px);
  transition: 0.5s all ease;
}
@media screen and (max-width: 768px) {
  html body main .cards-container .cards-omega .card-bg .card p {
    font-size: 14px;
  }
}
html body main .cards-container .cards-omega .card-bg .card:hover p {
  transform: translateY(0);
  margin: 0 0 70px 0;
}
html body main .tecnology-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 200px 0 0 0;
  flex-direction: column;
}
@media screen and (max-width: 992px) {
  html body main .tecnology-container {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  html body main .tecnology-container {
    height: auto;
  }
}
html body main .tecnology-container .tecnology-text-bg {
  position: absolute;
  top: 15%;
  left: 30px;
  right: 0;
  font-size: 130px;
  word-break: break-all;
  font-family: "cosi azure";
  color: rgba(255, 255, 255, 0.1607843137);
}
@media screen and (max-width: 992px) {
  html body main .tecnology-container .tecnology-text-bg {
    top: 5%;
    font-size: 80px;
  }
}
@media screen and (max-width: 600px) {
  html body main .tecnology-container .tecnology-text-bg {
    top: 0;
    left: 20px;
    font-size: 85px;
  }
}
html body main .tecnology-container .tecnology-title {
  position: relative;
  width: inherit;
  margin: 90px 0 50px 0;
}
html body main .tecnology-container .tecnology-title h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 10px;
  font-size: 40px;
  color: #caa986;
  text-transform: uppercase;
  word-break: break-all;
}
html body main .tecnology-container .tecnology-title h1 span {
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  html body main .tecnology-container .tecnology-title h1 {
    font-size: 25px;
  }
}
html body main .tecnology-container .tecnology {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: initial;
  height: auto;
  margin: 50px 0 0 0;
}
html body main .tecnology-container .tecnology .html, html body main .tecnology-container .tecnology .css, html body main .tecnology-container .tecnology .sass, html body main .tecnology-container .tecnology .react, html body main .tecnology-container .tecnology .javascript, html body main .tecnology-container .tecnology .typescript, html body main .tecnology-container .tecnology .php, html body main .tecnology-container .tecnology .boostrap, html body main .tecnology-container .tecnology .java, html body main .tecnology-container .tecnology .jquery, html body main .tecnology-container .tecnology .sql, html body main .tecnology-container .tecnology .git {
  position: relative;
  display: flex;
  justify-content: normal;
  align-items: center;
  width: 20%;
  height: auto;
  margin: 20px;
}
html body main .tecnology-container .tecnology .html img, html body main .tecnology-container .tecnology .css img, html body main .tecnology-container .tecnology .sass img, html body main .tecnology-container .tecnology .react img, html body main .tecnology-container .tecnology .javascript img, html body main .tecnology-container .tecnology .typescript img, html body main .tecnology-container .tecnology .php img, html body main .tecnology-container .tecnology .boostrap img, html body main .tecnology-container .tecnology .java img, html body main .tecnology-container .tecnology .jquery img, html body main .tecnology-container .tecnology .sql img, html body main .tecnology-container .tecnology .git img {
  width: 60px;
  filter: grayscale(100%);
  transition: 0.5s all ease;
}
html body main .tecnology-container .tecnology .html:hover img, html body main .tecnology-container .tecnology .css:hover img, html body main .tecnology-container .tecnology .sass:hover img, html body main .tecnology-container .tecnology .react:hover img, html body main .tecnology-container .tecnology .javascript:hover img, html body main .tecnology-container .tecnology .typescript:hover img, html body main .tecnology-container .tecnology .php:hover img, html body main .tecnology-container .tecnology .boostrap:hover img, html body main .tecnology-container .tecnology .java:hover img, html body main .tecnology-container .tecnology .jquery:hover img, html body main .tecnology-container .tecnology .sql:hover img, html body main .tecnology-container .tecnology .git:hover img {
  filter: grayscale(0%);
  transition: 0.5s all ease;
}
html body main .tecnology-container .tecnology .html h2, html body main .tecnology-container .tecnology .css h2, html body main .tecnology-container .tecnology .sass h2, html body main .tecnology-container .tecnology .react h2, html body main .tecnology-container .tecnology .javascript h2, html body main .tecnology-container .tecnology .typescript h2, html body main .tecnology-container .tecnology .php h2, html body main .tecnology-container .tecnology .boostrap h2, html body main .tecnology-container .tecnology .java h2, html body main .tecnology-container .tecnology .jquery h2, html body main .tecnology-container .tecnology .sql h2, html body main .tecnology-container .tecnology .git h2 {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.1607843137);
  font-family: "cosi azure";
  transition: 0.5s all ease;
  word-break: break-all;
  padding: 0 0 0 15px;
}
@media screen and (max-width: 992px) {
  html body main .tecnology-container .tecnology .html, html body main .tecnology-container .tecnology .css, html body main .tecnology-container .tecnology .sass, html body main .tecnology-container .tecnology .react, html body main .tecnology-container .tecnology .javascript, html body main .tecnology-container .tecnology .typescript, html body main .tecnology-container .tecnology .php, html body main .tecnology-container .tecnology .boostrap, html body main .tecnology-container .tecnology .java, html body main .tecnology-container .tecnology .jquery, html body main .tecnology-container .tecnology .sql, html body main .tecnology-container .tecnology .git {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  html body main .tecnology-container .tecnology .html, html body main .tecnology-container .tecnology .css, html body main .tecnology-container .tecnology .sass, html body main .tecnology-container .tecnology .react, html body main .tecnology-container .tecnology .javascript, html body main .tecnology-container .tecnology .typescript, html body main .tecnology-container .tecnology .php, html body main .tecnology-container .tecnology .boostrap, html body main .tecnology-container .tecnology .java, html body main .tecnology-container .tecnology .jquery, html body main .tecnology-container .tecnology .sql, html body main .tecnology-container .tecnology .git {
    width: 30%;
    justify-content: center;
  }
  html body main .tecnology-container .tecnology .html h2, html body main .tecnology-container .tecnology .css h2, html body main .tecnology-container .tecnology .sass h2, html body main .tecnology-container .tecnology .react h2, html body main .tecnology-container .tecnology .javascript h2, html body main .tecnology-container .tecnology .typescript h2, html body main .tecnology-container .tecnology .php h2, html body main .tecnology-container .tecnology .boostrap h2, html body main .tecnology-container .tecnology .java h2, html body main .tecnology-container .tecnology .jquery h2, html body main .tecnology-container .tecnology .sql h2, html body main .tecnology-container .tecnology .git h2 {
    display: none;
  }
}
html body main .tecnology-container .tecnology .html:hover h2 {
  color: #ff641a;
  transition: 0.5s all ease;
}
html body main .tecnology-container .tecnology .css:hover h2 {
  color: #0d73b7;
  transition: 0.5s all ease;
}
html body main .tecnology-container .tecnology .sass:hover h2 {
  color: #cc6699;
  transition: 0.5s all ease;
}
html body main .tecnology-container .tecnology .react:hover h2 {
  color: #00d9ff;
  transition: 0.5s all ease;
}
html body main .tecnology-container .tecnology .javascript:hover h2 {
  color: #ffdf00;
  transition: 0.5s all ease;
}
html body main .tecnology-container .tecnology .typescript:hover h2 {
  color: #2d79c7;
  transition: 0.5s all ease;
}
html body main .tecnology-container .tecnology .php:hover h2 {
  color: #8f9ed1;
  transition: 0.5s all ease;
}
html body main .tecnology-container .tecnology .boostrap:hover h2 {
  color: #5e3b7f;
  transition: 0.5s all ease;
}
html body main .tecnology-container .tecnology .java:hover h2 {
  color: #427595;
  transition: 0.5s all ease;
}
html body main .tecnology-container .tecnology .jquery:hover h2 {
  color: #0868ac;
  transition: 0.5s all ease;
}
html body main .tecnology-container .tecnology .sql:hover h2 {
  color: #b71c1c;
  transition: 0.5s all ease;
}
html body main .tecnology-container .tecnology .git:hover h2 {
  color: #f05033;
  transition: 0.5s all ease;
}
html body .button-top {
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0;
  margin-right: 30px;
  margin-bottom: 20px;
  background-color: transparent;
  transition: 0.5s all ease;
}
@media screen and (max-width: 600px) {
  html body .button-top {
    margin-right: 15px;
    margin-bottom: 20px;
  }
}
html body .button-top .cicle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  cursor: crosshair;
}
html body .button-top .cicle .fa-arrow-up-from-bracket {
  color: #ffffff;
  font-size: 20px;
}

/*============================ Classes auxiliares ======================*/
.collapse-true {
  transform: translate(0%) !important;
}

.burguer-ocult {
  display: none !important;
}

.navbar_aux {
  height: 75px !important;
}

.header_aux {
  backdrop-filter: blur(5px) !important;
}

/*# sourceMappingURL=estilos.css.map */
