
/*==========================================*/

@keyframes girar_left {
    from {
        transform: rotate(0deg); /* rotação inicial */
    }
    to {
        transform: rotate(360deg); /* rotação final */
    }
}

/*==========================================*/

@keyframes girar_right {
    from {
        transform: rotate(0deg); /* rotação inicial */
    }
    to {
        transform: rotate(-360deg); /* rotação final */
    }
}

/*==========================================*/

@keyframes btn-rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }

  /*==========================================*/
  
  @keyframes btn-storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
}