@charset "UTF-8";

/*  Fonte Montserrant  */
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'cosi azure';
    src: url(../fonts/CosiAzure-Black.ttf);
}

@font-face {
    font-family: 'grand slang';
    src: url(../fonts/GrandSlang-Roman.ttf);
}