@use 'variables';
@use 'components';

@mixin align($position, $flex, $centralization, $align){
    position: $position;
    display: $flex;
    justify-content: $centralization;
    align-items: $align;
}

@mixin text_formatting($align, $style, $weight, $spacing){
    text-align: $align;
    font-family: 'Montserrat' ,sans-serif;
    font-style: $style;
    font-weight: $weight;
    letter-spacing: $spacing;
}

@mixin text-bg(){
    position: absolute;
    top: 9vw;
    left: 3vw;
    right: 0;   
    font-size: 10vw;
    font-family: 'grand slang';
    text-transform: uppercase;
    font-style: italic;
    word-break: break-all;
    font-weight: 500;
    color: variables.$Color_White_Smoker;
}

@mixin formatting-icon($widht, $height){
    display: inline-block;
    width: $widht;
    height: $height;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}