@use 'variables';
@use 'components';

@mixin align($position, $flex, $centralization,$align){
    position: $position;
    display: $flex;
    justify-content: $centralization;
    align-items: $align;
}

@mixin text_formatting($align, $style, $weight, $spacing){
    text-align: $align;
    font-family: 'Montserrat' ,sans-serif;
    font-style: $style;
    font-weight: $weight;
    letter-spacing: $spacing;
}
