/* Responsivo para dispositivos large: */

@mixin screen_large(){
    @media screen and (max-width:1200px){
       @content;
    }
}

/* Responsivo para dispositivos Laptops: */

@mixin screen_laptop(){
    @media screen and (max-width:992px){
       @content;
    }
}

/* Responsivo para dispositivos Tablets: */

@mixin screen_tablet(){
    @media screen and (max-width:768px){
       @content;
    }
}

/* Responsivo para dispositivos Móveis: */

@mixin screen_small(){
    @media screen and (max-width:600px){
       @content;
    }
}

@mixin screen_width_not_suport(){
    @media screen and (max-width:300px){
        @content;
        &::before{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            content: 'screen não suportado, abra a tela e saiba mais :)';
            color: #ffffffd0;
            width: 100%;
            height: 100vh;
            font-size: 40px;
            font-family: 'Alumni Sans Inline One', sans-serif;
            text-align: center;
        }
    }
}

@mixin screen_height_not_suport(){
    @media screen and (max-height:440px){
        @content;
        &::before{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            content: 'screen não suportado, abra a tela e saiba mais :)';
            color: #ffffffd0;
            width: 100%;
            height: 100vh;
            font-size: 40px;
            font-family: 'Alumni Sans Inline One', sans-serif;
            text-align: center;
        }
    }
}