/*===========================================================================*/

$gray_primary:#161616;

$Primary_Color:#152a4b;

$Secundary_Color: #eb5726;

$Tertiary_Color: #0d0d0a;

$Quaternary_Color: #f0f3eb;

$Text_Color_White:#ffffff;

$Blur: rgba(255, 255, 255, 0.25);

$Text_Color_Black: #000; /*DEFINIR NO PROCESSO DE DESENVOLVIMENTO*/

$Smoker:rgba(0, 0, 0, 0.929); /* Cor de fundo escura com transparência */

$Smoker_one: #0000007b;

$Smoker_dwo: #0000008c;

$Transition_ease: 0.5s all ease;