/*===========================================================================*/

$gray_primary:#161616;

$Secundary_Color: #caa986;

$Text_Color_White:#ffffff;

$Text_Color_White_Smoker: #ffffff29;

$Text_Color_White_Smoker_dwo: #ffffff6d;

$Icon_color_Smoker: #ffffff07;

$Text_Color_Black: #000; /*DEFINIR NO PROCESSO DE DESENVOLVIMENTO*/

$Smoker:rgba(0, 0, 0, 0.929); /* Cor de fundo escura com transparência */

$Smoker_one: #0000007b;

$Smoker_dwo: #000000b7;

$Transition_ease: 0.5s all ease;