/*===========================================================================*/

$gray_primary:#161616;

$Secundary_Color: #caa986;

$Color_White:#fffffffe;

$Color_White_B9: #ffffffb9;

$Color_White_Smoker: #ffffff29;

$Color_White_Smoker_dwo: #ffffff6d;

$Icon_color_Smoker: #ffffff07;

$Color_Black: #000; /*DEFINIR NO PROCESSO DE DESENVOLVIMENTO*/

$Smoker:rgba(0, 0, 0, 0.961); /* Cor de fundo escura com transparência */

$Smoker_one: #00000044;

$Smoker_dwo: #000000b7;

$Smoker_there_0: #00000000;

$Transition_ease: 0.5s all ease;

$HTML: #ff641a;

$CSS: #0d73b7;

$SASS: #cc6699;

$REACT: #00d9ff;

$JS: #ffdf00;

$TS: #2d79c7;

$PHP: #8f9ed1;

$BOOSTRAP: #5e3b7f;

$JAVA: #427595;

$JQUERY: #0868ac;

$SQL: #b71c1c;

$GIT: #f05033;

$BULMA: #00d2b4;

$TAILWIND: #0dbfb9;

$MATERIALIZE: #ec7178;

$RAILWAY: #4c8de1;

$fonty_primary:  'grand slang', sans-serif;