@use 'variables';
@use 'components';
@use 'mixins';
@use 'responsive';
@use 'key_frames';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 0;
}

html{
 
    @include responsive.screen_height_not_suport(){
        background-color: variables.$gray_primary;
    }
    
    @include responsive.screen_width_not_suport(){
        background-color: variables.$gray_primary;
        
    }

    body {
        background-color: variables.$gray_primary;

        @include responsive.screen_width_not_suport(){
            display: none;
        }
        @include responsive.screen_height_not_suport(){
            display: none;
        }
        
        header {
            @include mixins.align(fixed, flex, center, center);
            position: fixed;
            width: 100%;
            height: auto;
            transition: variables.$Transition_ease;
            z-index: 9999;
            overflow: hidden;
    
            .navbar {
                @include mixins.align(relative, flex, space-between, center);
                width: 95%;
                height: 100px;
                font-family: 'cosi azure';
                transition: variables.$Transition_ease;
                border-bottom: 1px solid variables.$Text_Color_White;
    
                @include responsive.screen_laptop() {
                    padding-right: 30px;
                }
    
                li {
                    list-style: none;
    
                    .game-icons--fox {
                        display: inline-block;
                        width: 3em;
                        height: 3em;
                        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='m214.5 23.24l-1 8.1c-14 61.5 21 88.66 21 88.66l11-13s-24-19.76-18-63.56c41 11.6 58 36.6 64 48.8c-44 15.76-56 57.26-80 87.96l21-3.9l-2 31.3s44-8.7 69 17.7c5-8.6 8-18.9 6-29.2l-3-28.2c-3-1.1-7-3-11-5.4c-12-7.3-25-19.1-25-19.1c-2-1.9-2-5.2-1-7.8c2-2.5 5-3.7 7-2.7c0 0 11 3.5 21 6.7c11 3.9 20 14.3 21 26.6c1 8.4 3 18.9 4 28.3c2 15.4-3 30.8-12 42.7l7 18.3h38l7-18.3c-9-11.9-14-27.3-12-42.7c1-9.4 3-19.9 4-28.3c1-12.3 10-22.7 21-26.6c10-3.2 21-6.7 21-6.7c2-1 5 .2 7 2.7c1 2.6 1 5.9-1 7.8c0 0-13 11.8-25 19.1c-4 2.4-8 4.3-11 5.4l-3 28.2c-2 10.3 1 20.6 6 29.2c25-26.4 69-17.7 69-17.7l-2-31.3l21 3.9c-24-30.7-36-72.2-80-87.96c6-12.2 23-37.2 64-48.8c6 43.8-18 63.56-18 63.56l11 13s35-27.16 21-88.66l-1-8.1c-43.3 7.32-85.9 35.37-110 62.9c-5.5-.13-10.5-.52-16 0c-42.8-34.75-61.3-56.12-110-62.9m24.7 205.26c38.2 53.2-87.7 46.6-153.61 119.5c-26.11 28-32.53 56.3-25.95 80.3c12.23 44 71.86 73 144.06 55c49.8-13 96-32 134.8-40c35.1-8 63.8-5 82.3 24l15.3-5c-2.9-38-14.4-68.8-36.5-87.5c-16.8-14.2-39.9-22-70.9-21.1c-29.3.8-65.9 9.3-111.2 27.3c-27 9.5-76.5 27.7-102.4 12.6c-9.1-5.6-11.9-15-11.2-24.3c34.4 52 124.1-27 198.5-35.7c0 0 6.6-88.3-63.2-105.1m188.6 0c-53.1 12.4-64.1 54.1-65.2 105.1c26.5-.2 49.9 23.7 49.9 23.7s-27-98.6 15.3-128.8m-100.3 1.3h10c3 0 6 2.8 6 6.3c0 3.4-3 6.2-6 6.2h-10c-3 0-6-2.8-6-6.2c0-3.5 3-6.3 6-6.3m61.4 157.7c13.7 11.6 22.2 28.8 26.8 49.8c-15.8-12-35-16-57.1-14c-24.1 2-51.9 10-82.3 20l26.1-25c-28.3 14-53.1 17-75.4 12l80.9-40.2l-61.2 11.2c23.8-20.2 95.2-52.2 142.2-13.8'/%3E%3C/svg%3E");
                        background-color: currentColor;
                        -webkit-mask-image: var(--svg);
                        mask-image: var(--svg);
                        -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat;
                        -webkit-mask-size: 100% 100%;
                        mask-size: 100% 100%;
                    }
    
                    .fa-bars, .fa-circle-xmark {
                        display: none;
                        font-size: 30px;
                        color: variables.$Text_Color_White;
                        cursor: pointer;
    
                        @include responsive.screen_laptop() {
                            display: block;
                        }
                    }
    
                }
    
                .active-bar {
                    @include mixins.align(relative, flex, baseline, center);
                    width: 240px;
                    height: 60px;
                    margin: 0 0 0 10px;
                    cursor: pointer;
    
                    a {
                        @include mixins.align(relative, flex, center, center);
                        text-decoration: none;
                        font-size: 20px;
                        color: variables.$Text_Color_White;
                        transition: variables.$Transition_ease;

                        @include responsive.screen_small(){
                            font-size: 17px;
                        }

                    }
                }
    
                .links-ul {
                    @include mixins.align(relative, flex, space-between, center);
    
                    .li-link {
                        @include mixins.align(relative, flex, center, center);
                        width: 150px;
                        height: 50px;
                        margin: 10px;
                        cursor: pointer;

                        &::after{
                            position: absolute;
                            content: '';
                            top: 45px;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: variables.$Secundary_Color;
                            width: 0%;
                            height: 3px;
                            border-radius: 5px;
                            transition: 0.3s all;
                        }

                        &:hover::after{
                            width: 100%;
                            transition: 0.3s all;
                        }
    
                        .link {
                            color: variables.$Text_Color_White;
                            text-decoration: none;
                            font-size: 15px;

                            i {
                                margin-right: 7px;
                            }
                        }
    
                    }
    
                    @include responsive.screen_laptop {
                        position: fixed;
                        top: 0;
                        right: 0;
                        padding: 50px;
                        width: 100%;
                        height: 100vh;
                        flex-direction: column;
                        transform: translate(100%);
                        transition: variables.$Transition_ease;
                        background-color: variables.$Smoker;
                        backdrop-filter: blur(10px);
                        z-index: 9999;
                    }
    
                }
    
            }
        }
    
        main {
            position: relative;
    
            .banner {
                @include mixins.align(relative, flex, center, center);
                background-image: linear-gradient(to bottom, variables.$Smoker_one, variables.$gray_primary), url(../img/banner-one.jpg);
              /*  background-attachment: fixed; */
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 120vh;
                overflow: hidden;

                @include responsive.screen_small{
                    height: 105vh;
                }
        
                .row{
                    @include mixins.align(relative, flex, space-between, end);
                    width: 95%;
                    height: 80vh;             
                    color: variables.$Text_Color_White;
                    transition: variables.$Transition_ease;

                    @include responsive.screen_laptop(){
                        display: block;
                        height: auto;
                    }
    
                    @include responsive.screen_small(){ 
                        width: 90%;
                    }
                    
                    .profession{
                        position: relative; 
                        width: 50%;
                        height: auto;                   
                        font-family: 'cosi azure';
    
                        @include responsive.screen_laptop(){ 
                            width: initial;                          
                        }

                        .follow{
                            @include mixins.align(relative, flex, end, center);
                            top: 90px;
                            width: 185%;
                            height: 100px;

                            @include responsive.screen_laptop(){
                                width: 90%;
                            }

                            @include responsive.screen_small(){
                                width: inherit;                             
                            }

                            .fa-map-pin{
                                font-size: 20px;
                                color: variables.$Text_Color_White;
                                margin: 5px;
                            }

                            p{
                                @include mixins.align(relative, flex, center, center);
                                @include mixins.text_formatting(center, italic, 300, 1px);
                                width: 180px;
                                height: 100px;
                                color: variables.$Text_Color_White;
                                font-size: 10px;
                                
                                @include responsive.screen_small(){
                                    width: 120px;
                                    font-size: 10px;
                                }
                            }
                            
                        }
    
                        .profission-text{
                            position: relative;
                            width: 150px;
                            top: 40px;
                            font-size: 26px;
                            border-bottom: 1px solid variables.$Text_Color_White;
    
                            @include responsive.screen_laptop(){ 
                                top: 50px;
                            }
    
                            @include responsive.screen_small(){ 
                                width: 110px;     
                                font-size: 18px;
                            }
                        }
        
                        .profession-name{
                            position: relative;
                            width: 100%;
                            height: auto;
                            margin-top: 100px;

                            span{
                                display: block;
                                font-size: 3.5em;
                                transform: scaleY(4);
                                margin: 110px 0 60px 0;
                                letter-spacing: -2px;
                                word-spacing: 17px;
                                                              
                                @include responsive.screen_laptop(){ 
                                    font-size: 3em;
                                }
    
                                @include responsive.screen_small(){ 
                                    transform: scaleY(4);
                                    letter-spacing: 2px;
                                    font-size: 1.7em;
                                    margin: 0 0 60px 0;
                                }
                              
                            }
                            
                        }
                    }
        
                    .banner-descripiton{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: end;
                        width: 50%;
                        height: auto;
    
                        @include responsive.screen_laptop(){ 
                            width: initial;
                            margin-top: 70px;
                        }
    
                        p{
                            text-align: end;
                            font-size: 25px;
                            letter-spacing: 2px;
                            font-family: 'cosi azure';
                            color: variables.$Text_Color_White;
    
                            @include responsive.screen_laptop(){ 
                                width: 75%;
                                font-size: 20px
                            }
    
                            @include responsive.screen_small(){ 
                                width: 100%;
                                font-size: 14px;
                            }
                        }
    
                        .know{
                            @include mixins.align(relative, flex, center, center);
                            margin: 10px;
                            width: 160px;
                            height: 50px;
                            border: 2px solid variables.$Text_Color_White;
                            transition: variables.$Transition_ease;
                            border-radius: 30px;
                            cursor: pointer;
    
                            &:hover{
                                background-color: variables.$Secundary_Color;
                                transition: variables.$Transition_ease;
                            }
    
                            span{
                                font-family: 'cosi azure';
                                font-size: 15px;
                                color: variables.$Text_Color_White;
    
                                @include responsive.screen_laptop(){ 
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                } 
            }
    
            .hero-me{
                @include mixins.align(relative, flex, center, center);
                flex-direction: column;
                margin-top: -1px;
                width: 100%;
                height: 100vh;
                padding-top: 80px;
                background-color: variables.$gray_primary;

                @include responsive.screen_laptop(){
                    height: auto;
                    padding: 100px 0 40px 0;
                }

                .hero-titulo{
                    @include mixins.align(relative, flex, center, center);
                    width: inherit;
                    height: 100px;

                    @include responsive.screen_small(){
                        margin: 0 0 50px 0;
                    }

                    h1{
                        @include mixins.text_formatting(center, normal, 500, 10px);
                        font-size: 30px;
                        color: variables.$Text_Color_White;
                        text-transform: uppercase;

                        @include responsive.screen_small{
                            font-size: 20px;
                        }

                        span{
                            color: variables.$Secundary_Color;
                        }
                    }
                }

                .hero-sobre-text-fundo{
                    position: absolute;
                    top: 20%;
                    left: 30px;
                    right: 0;   
                    font-size: 120px;
                    font-family: 'cosi azure';
                    color: variables.$Text_Color_White_Smoker;

                    @include responsive.screen_laptop(){
                        top: 5%;
                        font-size: 110px;
                    }

                    @include responsive.screen_small(){
                        top: 0;
                        font-size: 65px;
                    }
                }
                 
                .sobre-mim{
                    @include mixins.align(relative, flex, space-between, center);
                    width: 85%;
                    height: auto;
                    color: variables.$Text_Color_White;

                    @include responsive.screen_large(){
                        width: 95%;
                    }

                    @include responsive.screen_laptop(){
                        width: 100%;
                        flex-wrap: wrap;
                    }

                    .sobre-img{
                        @include mixins.align(relative, flex, center, center);
                        width: 30%;
                        height: auto;
                       
                        &::after{
                            position: absolute;
                            content: '';
                            width: 290px;
                            height: 250px;
                            z-index: 1;
                            transform: translate(-15%,-15%);
                            border: 12px solid variables.$Secundary_Color; 
                            
                            @include responsive.screen_large(){
                                transform: translate(-10%,-15%);
                            }

                            @include responsive.screen_tablet(){
                                width: 250px;
                                transform: translate(-10%,-8%);
                            }

                            @include responsive.screen_small{
                                height: 230px;
                                transform: translate(-10%,-12%);
                            }
                        }

                        @include responsive.screen_laptop(){
                            width: 50%;                     
                        }
                        
                        @include responsive.screen_small(){
                            width: inherit;
                        }

                        img{
                            position: relative;
                            width: 300px;
                            height: auto;
                            z-index: 2; 
                            filter: grayscale(0%);
                            transition: variables.$Transition_ease;                           
                            
                            @include responsive.screen_laptop(){
                                width: 300px;
                            }

                            @include responsive.screen_tablet(){
                                width: 270px;
                            }

                            @include responsive.screen_small(){
                                width: 250px;
                                height: auto;
                            }

                            &:hover{
                                filter: grayscale(100%);
                                transition: variables.$Transition_ease;
                            }
    
                        }
                    }

                    .sobre-academy{
                        @include mixins.align(relative, flex, space-around, center);
                        @include mixins.text_formatting(normal, normal, 300, 1px);
                        flex-direction: column;
                        width: 25%;
                        height: auto;

                        @include responsive.screen_laptop(){
                            padding: 0 0 0 100px;
                            width: 50%;                          
                        }

                        @include responsive.screen_tablet(){
                            padding: 0 0 0 30px;
                        }
                        
                        @include responsive.screen_small{
                            width: inherit;
                            margin: 50px auto;    
                        }

                        h1,h2{
                            position: relative;
                            width: 100%;
                            height: auto;
                            text-transform: uppercase;
                            font-size: 18px;
                            padding: 9px 0 9px 0;

                            @include responsive.screen_tablet(){
                                font-size: 15px;
                            }                           
                        }

                        p{
                            position: relative;
                            width: 100%;
                            height: auto;
                            padding-left: 20px;
                            font-style: italic;
                            padding: 9px 0 9px 0;

                            @include responsive.screen_tablet(){
                                font-size: 12px;
                            }

                            i{
                                font-size: 20px;
                                color: variables.$Secundary_Color;

                                @include responsive.screen_tablet(){
                                    font-size: 18px;
                                }
                            }
                        }
                    }

                    .sobre-descripion{
                        position: relative;
                        width: 40%;
                        height: auto;
                        margin: 0 0 50px 0 auto;

                        @include responsive.screen_laptop(){
                            width: 80%;
                            margin: 70px auto;
                            text-align: center;
                        }

                        @include responsive.screen_small(){
                            width: 90%;
                            margin: 0 auto;
                        }

                        .sobre-titulo{
                            width: initial;
                            height: auto;

                            h1{
                                @include mixins.text_formatting(normal, normal, 500, 1px);
                                font-size: 25px;
                                text-transform: uppercase;
                            }

                            p{
                                font-size: 20px;
                                color: variables.$Text_Color_White_Smoker_dwo;
                                margin: 10px 0 15px 0;
                            }
                        }

                        .sobre-descripiton-bio{
                            @include mixins.text_formatting(justify, italic, 300, 1px);
                            font-size: 16px;
                            line-height: 1.5;

                            p{
                                margin: 0 0 20px 0;

                                @include responsive.screen_laptop(){
                                    &:nth-child(1){
                                        text-align: center;
                                    }
                                }

                                @include responsive.screen_small(){
                                    text-align: left;
                                    font-size: 14px;
                                    line-height: 1.7;
                                } 
                            }

                        }
                    }
                }

            }

            .cards-container{
                @include mixins.align(relative, flex, center, center);
                width: 100%;
                height: auto;
                margin: 150px 0 150px 0;

                @include responsive.screen_laptop(){
                    margin: 0 0 100px 0;
                }

                .cards-omega{
                    @include mixins.align(relative, flex, space-around, center);
                    width: 90%;
                    height: auto;
                    flex-wrap: wrap;

                    @include responsive.screen_large(){
                        width: 95%;
                    }

                    .card-bg{ 
                        position: relative; 
                        width: 27%;
                        height: 350px;                                
                        border: 1px solid variables.$Text_Color_White;
                        overflow: hidden;
                      
                        .span-card{
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 50px;
                            height: inherit;
                            background-color: variables.$Text_Color_White_Smoker;
                            transition: all 1s ease;

                            span{
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                font-size: 32px;
                                font-family: 'cosi azure';
                                color: variables.$Secundary_Color;
                                                                                         
                            }                            
                        }

                        &:hover .span-card{
                            width: 100%;
                            transition: all 1s ease;
                            filter: blur(10px);
                            background-color: variables.$Secundary_Color;
                        }

                        .fa-rocket, .fa-square-poll-vertical, .fa-people-group{
                            position: absolute;
                            color: variables.$Icon_color_Smoker;
                            font-size: 300px;
                            top: 20px;
                            
                        }

                        @include responsive.screen_laptop(){
                            width: 40%;
                            margin: 0 0 100px 0;
                        }

                        @include responsive.screen_tablet(){
                            width: 45%;
                            margin: 0 0 50px 0;
                        }

                        @include responsive.screen_small(){
                            width: 85%;
                            margin: 0 0 40px 0;
                        }

                        .card{
                            @include mixins.align(relative, flex, center, center);
                            flex-direction: column;
                            top: 40px;
                            width: initial;
                            height: inherit;
                            transition: variables.$Transition_ease;
                            overflow: hidden;

                            .ph--rocket-launch-thin {
                                display: inline-block;
                                width: 100px;
                                height: 100px;
                                background-repeat: no-repeat;
                                background-size: 100% 100%;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='white' d='M219.86 47.36a12 12 0 0 0-11.22-11.22c-12-.71-42.82.38-68.35 25.91L134.35 68h-60a11.9 11.9 0 0 0-8.48 3.52l-34.35 34.33a12 12 0 0 0 6.81 20.37l39.79 5.55l46.11 46.11l5.55 39.81a12 12 0 0 0 20.37 6.79l34.34-34.35a11.9 11.9 0 0 0 3.52-8.48v-60l5.94-5.94c25.53-25.53 26.62-56.3 25.91-68.35M36.21 115.6a3.94 3.94 0 0 1 1-4.09l34.32-34.34A4 4 0 0 1 74.35 76h52l-47.77 47.76l-39.14-5.46a3.94 3.94 0 0 1-3.23-2.7M180 181.65a4 4 0 0 1-1.17 2.83l-34.35 34.34a4 4 0 0 1-6.79-2.25l-5.46-39.15L180 129.65Zm-52-11.31L85.66 128l60.28-60.29c23.24-23.24 51.25-24.23 62.22-23.58a3.93 3.93 0 0 1 3.71 3.71c.65 11-.35 39-23.58 62.22Zm-29.79 19.14C94 198.66 80 220 40 220a4 4 0 0 1-4-4c0-40 21.34-54 30.52-58.21a4 4 0 0 1 3.32 7.28c-7.46 3.41-24.43 14.66-25.76 46.85c32.19-1.33 43.44-18.3 46.85-25.76a4 4 0 1 1 7.28 3.32'/%3E%3C/svg%3E");                         
                               
                            }

                            .pajamas--search-results {
                                display: inline-block;
                                width: 100px;
                                height: 100px;
                                background-repeat: no-repeat;
                                background-size: 100% 100%;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23ededed' fill-rule='evenodd' d='M1.75 1a.75.75 0 0 0 0 1.5h8.5a.75.75 0 0 0 0-1.5zM1 4.75A.75.75 0 0 1 1.75 4H7a.75.75 0 0 1 0 1.5H1.75A.75.75 0 0 1 1 4.75m9 7.75a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5m0 1.5c.834 0 1.607-.255 2.248-.691l1.472 1.471a.75.75 0 1 0 1.06-1.06l-1.471-1.472A4 4 0 1 0 10 14M1.75 7a.75.75 0 0 0 0 1.5H4A.75.75 0 0 0 4 7z' clip-rule='evenodd'/%3E%3C/svg%3E");
                            }

                            .fluent--people-team-20-regular {
                                display: inline-block;
                                width: 100px;
                                height: 100px;
                                background-repeat: no-repeat;
                                background-size: 100% 100%;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23ededed' d='M10 3a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3M7.5 4.5a2.5 2.5 0 1 1 5 0a2.5 2.5 0 0 1-5 0m8-.5a1 1 0 1 0 0 2a1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0a2 2 0 0 1-4 0m-10 0a1 1 0 1 1 2 0a1 1 0 0 1-2 0m1-2a2 2 0 1 0 0 4a2 2 0 0 0 0-4m.6 11.998L5 15a2 2 0 0 1-2-2V9.25A.25.25 0 0 1 3.25 9h1.764c.04-.367.17-.708.365-1H3.25C2.56 8 2 8.56 2 9.25V13a3 3 0 0 0 3.404 2.973a5 5 0 0 1-.304-.975m9.496.975Q14.794 16 15 16a3 3 0 0 0 3-3V9.25C18 8.56 17.44 8 16.75 8h-2.129c.196.292.325.633.365 1h1.764a.25.25 0 0 1 .25.25V13a2 2 0 0 1-2.1 1.998a5 5 0 0 1-.304.975M7.25 8C6.56 8 6 8.56 6 9.25V14a4 4 0 0 0 8 0V9.25C14 8.56 13.44 8 12.75 8zM7 9.25A.25.25 0 0 1 7.25 9h5.5a.25.25 0 0 1 .25.25V14a3 3 0 1 1-6 0z'/%3E%3C/svg%3E");
                            }

                            h1{   
                                text-align: center;
                                margin: 10px 0 10px 0;
                                font-size: 15px;
                                letter-spacing: 3px;
                                font-family: 'cosi azure';
                                color: variables.$Text_Color_White;

                                i{
                                    font-size: 20px;
                                }

                                @include responsive.screen_tablet(){
                                    font-size: 18px;
                                }
                            }
                            
                            p{
                                @include mixins.text_formatting(center, normal, 300, 1px);
                                line-height: 1.2;
                                color: variables.$Text_Color_White;                    
                                font-size: 16px;
                                padding: 15px;
                                transform: translateY(170px);               
                                transition: variables.$Transition_ease; 
                            
                                @include responsive.screen_tablet(){
                                    font-size: 14px;
                                }
                            }
           
                            &:hover p{ 
                                transform: translateY(0);
                                margin: 0 0 70px 0;                              
                            }
           
                        }

                    }
                }

            }

        }
    
        .button-top {
            position: fixed;    
            right: 0;
            bottom: 0;
            opacity: 0;
            margin-right: 30px;
            margin-bottom: 20px;
            background-color: transparent;
            transition: variables.$Transition_ease;
    
            @include responsive.screen_small(){ 
                margin-right: 15px;
                margin-bottom: 20px;
            }
              
            .cicle {
                @include mixins.align(relative, flex, center, center);
                width: 45px;
                height: 45px;
                border-radius: 50px;
                border: 1px solid variables.$Text_Color_White;
                cursor: pointer;
        
                .fa-arrow-up-from-bracket {
                    color: variables.$Text_Color_White;
                    font-size: 20px;
                }
            }
        
        
        }
    
    }
    
}



/*============================ Classes auxiliares ======================*/

.collapse-true {
    transform: translate(0%) !important;
}

.burguer-ocult {
    display: none !important;
}

.navbar_aux {
    height: 75px !important;
}

.header_aux {
    background-color: variables.$Smoker_dwo;   
}